In [231]:
###Pandas excercises###
import pandas as pd

In [232]:
#General info about dataframe
movie_df = pd.read_csv('movies_2.csv') # Gathering data
movie_df.head(5)

movie_df.info()
movie_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

(616, 11)

In [233]:
#Find the amount of NaNs
Nancount = movie_df.isnull().sum()
print("These are the amount of NaNs:", Nancount)

These are the amount of NaNs: MovieID           0
Title             1
MPAA Rating       1
Budget            1
Gross             1
Release Date      1
Genre             1
Runtime           1
Rating          108
Rating Count    108
Summary         120
dtype: int64

In [234]:
#remove Summary column
no_summary_df = movie_df.drop("Summary",axis = 1)

no_summary_df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

In [235]:
#Rename column headers (features) to lower case with _ seperation

#take a list of column header and format them
column_headers = no_summary_df.columns.tolist()
column_headers_new = []
for elements in column_headers:
    nospace = elements.replace(" ","_")
    column_headers_new.append(nospace.lower())

print("This is new column headers: ",column_headers_new)

#provide a dictionary saying which column labels need to be replaced by what new column labels
guide_dict = {}
counter = 0
for old_header in column_headers:
    guide_dict[old_header] = column_headers_new[counter]
    counter += 1

print("This is guide dict: ",guide_dict)

movie_df_newheaders = no_summary_df.rename(columns=guide_dict)
movie_df_newheaders.tail(5)

This is new column headers:  ['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date', 'genre', 'runtime', 'rating', 'rating_count']
This is guide dict:  {'MovieID': 'movieid', 'Title': 'title', 'MPAA Rating': 'mpaa_rating', 'Budget': 'budget', 'Gross': 'gross', 'Release Date': 'release_date', 'Genre': 'genre', 'Runtime': 'runtime', 'Rating': 'rating', 'Rating Count': 'rating_count'}

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [236]:
#Drop last row since it has NaN values
clean_df = movie_df_newheaders.drop(index = 615, axis = 0)
clean_df.tail(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [264]:
#Replace missing NaN values in Rating column with median rating
clean_df["rating"].fillna(value=clean_df["rating"].median(), inplace=True)
clean_df["rating_count"].fillna(value=clean_df["rating_count"].median(), inplace=True)

#clean_df.tail(5)
clean_df.dtypes

C:\Users\Leon\AppData\Local\Temp\ipykernel_16292\2368912144.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df["rating"].fillna(value=clean_df["rating"].median(), inplace=True)
C:\Users\Leon\AppData\Local\Temp\ipykernel_16292\2368912144.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_df["rating_count"].fillna(value=clean_df["rating_count"].median(), inplace=True)

movieid           int64
title            object
mpaa_rating      object
budget          float64
gross           float64
release_date     object
genre            object
runtime         float64
rating          float64
rating_count    float64
dtype: object

In [238]:
#Remove duplicates:
no_dupes = clean_df.drop_duplicates(subset = ['title'], inplace= False)
no_dupes.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

In [267]:
#Convert Budget into integer type (use astype() method)
#Convert Gross into integer type
#Convert Release Date into date type (use to_datetime method)

change_dtypes = no_dupes.astype({"budget":"int32","gross":"int32"})


change_dtypes["release_date"] = pd.to_datetime(change_dtypes["release_date"])
change_dtypes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 609 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movieid       609 non-null    int64
 1   title         609 non-null    object
 2   mpaa_rating   609 non-null    object
 3   budget        609 non-null    int32
 4   gross         609 non-null    int32
 5   release_date  609 non-null    datetime64[ns]
 6   genre         609 non-null    object
 7   runtime       609 non-null    float64
 8   rating        609 non-null    float64
 9   rating_count  609 non-null    float64
dtypes: datetime64[ns](1), float64(3), int32(2), int64(1), object(3)
memory usage: 47.6+ KB

In [240]:
#Answer the following questions:

#show the movies with more than 7 in Rating & greater than 50 million Gross
#pull movie names, rating and gross, then filter resulting df
name_rating_gross = change_dtypes.loc[:,['title','rating','gross']]
name_rating_gross.head(5)

only_the_best = name_rating_gross.loc[name_rating_gross['rating'] > 7]
only_the_greatest = only_the_best.loc[only_the_best['gross'] > 50000000]

only_the_best.info()
only_the_greatest.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 1 to 509
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   224 non-null    object
 1   rating  224 non-null    float64
 2   gross   224 non-null    int32
dtypes: float64(1), int32(1), object(1)
memory usage: 6.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 223 entries, 1 to 509
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   223 non-null    object
 1   rating  223 non-null    float64
 2   gross   223 non-null    int32
dtypes: float64(1), int32(1), object(1)
memory usage: 6.1+ KB

In [241]:
#show the movies with more than 7 in Rating & greater than 50 million Gross & with Parental guidance as MPAA Rating
#filter for >7 rating, >50 mil gross and MPAA == PG

mpaa_rating_gross = change_dtypes.loc[:,['title','mpaa_rating','gross','rating']]
#mpaa_rating_gross_dtypesadjusted = mpaa_rating_gross.astype(({"gross":"float64"}))  # converting rating back, screwing up operators 
#mpaa_rating_gross_dtypesadjusted.info()
filter_1 = mpaa_rating_gross.loc[mpaa_rating_gross['rating']> 7]
filter_1.info()
filter_2 = filter_1.loc[filter_1['gross']> 50000000]

filtered_df_mpaa_rating_gross = filter_2.loc[filter_2['mpaa_rating'] == 'PG']

filtered_df_mpaa_rating_gross.info()

<class 'pandas.core.frame.DataFrame'>
Index: 224 entries, 1 to 509
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        224 non-null    object
 1   mpaa_rating  224 non-null    object
 2   gross        224 non-null    int32
 3   rating       224 non-null    float64
dtypes: float64(1), int32(1), object(2)
memory usage: 7.9+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 505
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        50 non-null     object
 1   mpaa_rating  50 non-null     object
 2   gross        50 non-null     int32
 3   rating       50 non-null     float64
dtypes: float64(1), int32(1), object(2)
memory usage: 1.8+ KB

In [242]:

#count of Animation movies with more than 7 in Rating (use the shape() function)
animation_movies = clean_df.loc[clean_df['genre'] == 'Animation']

animation_movies.head(5)
high_rated_animations = animation_movies.loc[animation_movies['rating']>7]
high_rated_animations.shape

(39, 10)

In [243]:
#show the list of top 5 movies based on Budget

largest_to_smallest = clean_df.nlargest(5, 'budget')
largest_to_smallest.head(5) # even though the table only has 5 observations (rows)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [244]:
#show the top 5 Comedy movies by Rating
only_comedy = clean_df.loc[clean_df['genre'] == 'Comedy']
ordered_comedy = only_comedy.nlargest(5,'rating')
ordered_comedy.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
111,112,Forrest Gump,PG-13,55000000.0,677945399.0,1994-07-06,Comedy,142.0,8.8,1657851.0
185,186,The Truman Show,PG,60000000.0,264118201.0,1998-06-04,Comedy,103.0,8.1,859224.0
80,81,Groundhog Day,PG,14600000.0,70906973.0,1993-02-11,Comedy,101.0,8.0,549538.0
254,255,"Monsters, Inc.",G,115000000.0,562816256.0,2001-11-01,Comedy,92.0,8.0,758349.0
40,41,Fried Green Tomatoes,PG-13,11000000.0,119418501.0,1991-12-27,Comedy,130.0,7.7,62493.0

In [245]:
#top 5 movie names by Rating

by_rating = clean_df.nlargest(len(clean_df),'rating')
top_rated_movies = by_rating['title']
top_rated_movies.head(5)

393                                  The Dark Knight
98                                 Jurassic Park III
99                                      Pulp Fiction
83                                  Schindler's List
287    The Lord of the Rings: The Return of the King
Name: title, dtype: object

In [291]:
#top 3 high Gross Romance movies released after 1999 (typecast it to datetime)
#get all romance movies after 1999
#clean_df.head(5)
#clean_df["release_date"] = pd.to_datetime(clean_df["release_date"])


clean_romance_df = clean_df.loc[clean_df["genre"] == "Romance"]

clean_romance_df['release_date'].fillna(0, inplace=True) # fill Na values in release date just in case 

clean_romance_df.head(5)

clean_romance_df["release_date"] = pd.to_datetime(clean_romance_df["release_date"]) # convert datatype so we can check year



filtered_year = clean_romance_df[clean_romance_df["release_date"].dt.year > 1999] #return all observations after 2000

#Return top 3
#filtered_year.sort_values(by = "gross", ascending = False).head(3)

C:\Users\Leon\AppData\Local\Temp\ipykernel_16292\868079027.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  clean_romance_df['release_date'].fillna(0, inplace=True) # fill Na values in release date just in case
C:\Users\Leon\AppData\Local\Temp\ipykernel_16292\868079027.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_romance_df['release_date'].fillna(0, inplace=True) # fill Na values in release date just in case

pandas.core.series.Series

In [281]:
#how many Genres are present in the dataframe? (use the function value_counts() which applies to Series, not Dataframe)
all_genres = clean_df["genre"]
print(len(all_genres.value_counts()))

16

In [285]:
#top 5 expensive movies released after 1999 (measured by Budget)

clean_df["release_date"] = pd.to_datetime(clean_df["release_date"])
year_filter = clean_df[clean_df["release_date"].dt.year > 1999]

sorted_for_price = year_filter.sort_values(by="budget",ascending=False)

sorted_for_price.head(5)

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000.0,2.048000e+09,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000.0,1.045714e+09,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000.0,1.333000e+09,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000.0,9.610000e+08,2007-05-19,Adventure,169.0,7.1,565402.0

In [296]:
#most & least frequent MPAA Rating in the dataset in terms of occurrences
mpaas = clean_df["mpaa_rating"]
thismax = mpaas.max()
print("This is max: ",thismax)

thismin = mpaas.min()
print("This is max: ",thismin)

This is max:  R
This is max:  G

In [309]:
#most and least expensive Genre (take an average of all Budget measures grouped by Genre - use groupBy() method)

all_genres= clean_df.groupby(by="genre").mean("budget")
print(all_genres)
print("Most expensive genre: Fantasy, with: $ ",round(all_genres["budget"].max()))

print("Least expensive genre: Horror, with: $ ",round(all_genres["budget"].min()))

                    movieid        budget         gross     runtime    rating  \
genre
Action           364.136364  1.441682e+08  6.245491e+08  127.936364  6.985455
Adventure        320.600000  1.338333e+08  5.864940e+08  130.266667  6.696667
Animation        401.827586  1.158793e+08  5.617414e+08   95.885057  7.110345
Comedy           246.414141  4.957727e+07  2.447957e+08  105.919192  6.631313
Crime            196.058824  5.658824e+07  2.286779e+08  121.941176  6.876471
Drama            262.333333  5.592576e+07  2.989364e+08  126.651515  7.193939
Family           200.758621  6.268966e+07  2.920609e+08  104.172414  6.117241
Fantasy          376.740741  1.612111e+08  7.926055e+08  143.037037  7.337037
History          239.250000  5.550000e+07  2.753178e+08  157.750000  7.625000
Horror           338.857143  3.700429e+07  2.724708e+08  116.000000  6.735714
Mystery          321.909091  1.035455e+08  3.725879e+08  131.454545  6.827273
Romance          236.571429  4.540020e+07  3.841570e+08  117.285714  6.400000
Science Fiction  317.864865  1.267838e+08  5.252451e+08  126.567568  7.151351
Thriller         290.195122  8.658537e+07  3.963394e+08  121.073171  6.995122
War              278.666667  9.075556e+07  3.903759e+08  151.111111  7.355556
Western          286.500000  7.983333e+07  3.360111e+08  141.500000  7.333333

                  rating_count
genre
Action           403992.800000
Adventure        378327.400000
Animation        301756.873563
Comedy           221525.308081
Crime            224538.323529
Drama            283972.590909
Family           156531.775862
Fantasy          535283.129630
History          448652.000000
Horror           219228.821429
Mystery          284149.045455
Romance          208438.785714
Science Fiction  452324.486486
Thriller         388913.012195
War              392181.722222
Western          416025.916667
Most expensive genre: Fantasy, with: $  161211111
Least expensive genre: Horror, with: $  37004286

In [318]:
#which Genre is favoured the most by the people?
#group by genre, find average rating, find best rated genre
all_genres_ratings= clean_df.groupby(by="genre").mean("rating")
print(all_genres_ratings)
best_rated = all_genres_ratings["rating"].max(skipna=True)
print(f"The best rated Genre is History, with a mean rating of: ", best_rated)

                    movieid        budget         gross     runtime    rating  \
genre
Action           364.136364  1.441682e+08  6.245491e+08  127.936364  6.985455
Adventure        320.600000  1.338333e+08  5.864940e+08  130.266667  6.696667
Animation        401.827586  1.158793e+08  5.617414e+08   95.885057  7.110345
Comedy           246.414141  4.957727e+07  2.447957e+08  105.919192  6.631313
Crime            196.058824  5.658824e+07  2.286779e+08  121.941176  6.876471
Drama            262.333333  5.592576e+07  2.989364e+08  126.651515  7.193939
Family           200.758621  6.268966e+07  2.920609e+08  104.172414  6.117241
Fantasy          376.740741  1.612111e+08  7.926055e+08  143.037037  7.337037
History          239.250000  5.550000e+07  2.753178e+08  157.750000  7.625000
Horror           338.857143  3.700429e+07  2.724708e+08  116.000000  6.735714
Mystery          321.909091  1.035455e+08  3.725879e+08  131.454545  6.827273
Romance          236.571429  4.540020e+07  3.841570e+08  117.285714  6.400000
Science Fiction  317.864865  1.267838e+08  5.252451e+08  126.567568  7.151351
Thriller         290.195122  8.658537e+07  3.963394e+08  121.073171  6.995122
War              278.666667  9.075556e+07  3.903759e+08  151.111111  7.355556
Western          286.500000  7.983333e+07  3.360111e+08  141.500000  7.333333

                  rating_count
genre
Action           403992.800000
Adventure        378327.400000
Animation        301756.873563
Comedy           221525.308081
Crime            224538.323529
Drama            283972.590909
Family           156531.775862
Fantasy          535283.129630
History          448652.000000
Horror           219228.821429
Mystery          284149.045455
Romance          208438.785714
Science Fiction  452324.486486
Thriller         388913.012195
War              392181.722222
Western          416025.916667
The best rated Genre is History, with a mean rating of:  7.625